body {
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.card {
    margin-top: 5vh;
    background-color: rgba(66, 65, 65, 0.6);
    padding: 10px;
    border-radius: 10px;
    color: white;
    max-width: 100vh;
}

.btn {
    width: 120px;
}
